/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    line-height: 1.6;
}

ul {
    list-style: none;
}

/* End Reset CSS */

/* GLOBAL_STYLES_START */
body {
    font-family: 'Roboto', sans-serif;
}
/* GLOBAL_STYLES_END */

/* HEADER_STYLES_START */
/* HEADER_STYLES_END */

/* HERO_STYLES_START */
/* HERO_STYLES_END */

/* CONTENT_STYLES_START */
/* CONTENT_STYLES_END */

/* FOOTER_STYLES_START */
/* FOOTER_STYLES_END */